configKubernetes:
  cluster_name_label: cluster-name
  enable_pod_antiaffinity: true
  pod_environment_configmap: "postgres-pod-config"
  watched_namespace: "*"


configLogicalBackup:
  # image for pods of the logical backup job (example runs pg_dumpall)
  logical_backup_docker_image: "registry.opensource.zalan.do/acid/logical-backup:v1.7.1"

  # prefix for the backup job name
  logical_backup_job_prefix: "logical-backup-"
  # storage provider - either "s3" or "gcs"
  logical_backup_provider: "s3"
  # S3 Access Key ID
  logical_backup_s3_access_key_id: {{ backups.pg.iam_user_aws_access_key_id }}
  # S3 bucket to store backup results
  logical_backup_s3_bucket: {{backups.pg.bucket_id}}
  # S3 region of bucket
  logical_backup_s3_region: {{backups.pg.bucket_region}}
  # S3 endpoint url when not using AWS
  logical_backup_s3_endpoint: ""
  # S3 Secret Access Key
  logical_backup_s3_secret_access_key: {{ backups.pg.iam_user_aws_secret_access_key }}
  # S3 server side encryption
  logical_backup_s3_sse: "AES256"
  # backup schedule in the cron format
  logical_backup_schedule: "0 0 * * 0"
